<!-- Ce template est une part du footer,
il sert à partager de la plublicité et f
aire de la comunication -->


<!--

<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="video-gallery text-center">
            <a href="#">
              <div class="iframe-img">
                <img src="" alt="" />
              </div>
              <div class="overlay-icon">
                <i class="fa fa-play-circle-o"></i>
              </div>
            </a>
            <p>Circle of Hands</p>
            <h2>24 DEC 2014</h2>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="video-gallery text-center">
            <a href="#">
              <div class="iframe-img">
                <img src="" alt="" />-
              </div>
              <div class="overlay-icon">
                <i class="fa fa-play-circle-o"></i>
              </div>
            </a>
            <p>Circle of Hands</p>
            <h2>24 DEC 2014</h2>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="video-gallery text-center">
            <a href="#">
              <div class="iframe-img">
                <img src="" alt="" />
              </div>
              <div class="overlay-icon">
                <i class="fa fa-play-circle-o"></i>
              </div>
            </a>
            <p>Circle of Hands</p>
            <h2>24 DEC 2014</h2>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="video-gallery text-center">
            <a href="#">
              <div class="iframe-img">
                <img src="" alt="" />
              </div>
              <div class="overlay-icon">
                <i class="fa fa-play-circle-o"></i>
              </div>
            </a>
            <p>Circle of Hands</p>
            <h2>24 DEC 2014</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- SOCIAL MEDIA COMMUNICATION -->

<!-- <div class="col-sm-4">
  <ul class="nav navbar-nav">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  </ul>
</div> -->
