
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Services</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="">Aide en ligne</a></li>
								<li><a href="">Retours Gratuit</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Engagements</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="">Nos engagements</a></li>
								<li><a href="">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Qui somme Nous?</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="">Informations</a></li>
								<li><a href="">Ressources</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Inscription Newsletter</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Recevez les dernières informations<br />pour les meilleurs offres!</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 col-sm-offset-4">
							<p class="pull-left">Copyright © 2017 Lucas Petit & Solidus. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
	</div>
