  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-lg-4">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href=#><i class="fa fa-arrow-circle-o-left "></i> Retours gratuits</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> Besoin d'aide ? 0695808832</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href=#><i class="fa fa-dropbox "></i> Echanges et Retours offerts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header_top-->

  <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="logo pull-left">
              <figure id="logo" class="columns six" data-hook><%= logo img_options: { class: 'img-responsive', width: '138' } %></figure>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li><a href="checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                <li><a href="login"><i class="fa fa-user"></i> Mon Compte</a></li>
                  <li id="link-to-cart" data-hook>
                    <noscript>
                        <% name = Spree.t(:cart) + "<i class='fa fa-shopping-cart'></i>" %>
                        <%= link_to name, '/cart' %>

                    </noscript>
                    &nbsp;
                        <i class="fa fa-shopping-cart"></i>
                  </li>
                  <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>

              </ul>
            </div>
          </div>
      </div>
    </div>
  </div><!--/header-middle-->
