<div class="header-bottom"><!--header-bottom-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="mainmenu pull-left">
          <ul class="nav navbar-nav collapse navbar-collapse">
            <% if @taxonomies != nil %>
              <% @taxonomies.each do |taxonomy| %>
                <li class="dropdown"> <a href="#"><%= taxonomy.name %><i class="fa fa-angle-down"></i></a>
                  <%= nav_tree(taxonomy.root, @taxon, 2) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-bottom-->
