<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <div class="form-group">
      <%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, class: 'title form-control', tabindex: 1, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :password, Spree.t(:password) %>
      <%= f.password_field :password, class: 'title form-control', tabindex: 2 %>
    </div>

    <div class="form-group">
      <%= f.check_box :remember_me, tabindex: 3 %>
      <%= f.label :remember_me, Spree.t(:remember_me) %>
    </div>
    <div class"actions">
      <%= f.submit :class => 'btn btn-block', :tabindex => 4 %>
    </div>
  </div>
<% end %>
