<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

<% if products.any? %>
  <div class="col-sm-9 padding-right">
  	<div class="features_items"><!--features_items-->
      <% products.each do |product| %>
        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
        <div id="product_<%= product.id %>" class="col-sm-4" <%= cycle("alpha", "secondary", "", "omega secondary", name: "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
          <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
            <div class="product-image-wrapper">
        			<div class="single-products">
        					<div class="productinfo text-center">
                    <%= link_to image_tag(product.display_image.attachment(:large), itemprop: "image"), url, itemprop: 'url' %>
                    <h2><%= display_price(product) %></h2>
                    <p><%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %></p>
        					</div>
        					<div class="product-overlay">
        						<div class="overlay-content">
                      <p><%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %></p>
                      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <h2><%= display_price(product) %></h2>
                      <span>
        						</div>
        					</div>
        			</div>
        		</div>
          <% end %>
    		</div>
      <% end %>
      <% reset_cycle("classes") %>
    </div>
  </div>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
