<header><!--header-->
  <%= render :partial => 'spree/shared/header' %>
  <%= render :partial => 'spree/shared/header_app' %>
</header><!--/header-->

<div class="container">
  <div id="wrapper" class="row" data-hook>
    <div id="content" data-hook>
      <%= flash_messages %>
      <%= yield %>
    </div>
    <%= yield :templates %>
  </div>
</div>

  <footer id="footer"><!--Footer-->
    <%= render :partial => 'spree/shared/footer_publicity' %>
    <%= render :partial => 'spree/shared/footer' %>
  </footer><!--/Footer-->
<%= render :partial => 'spree/shared/google_analytics' %>
