<header><!--header-->
  <%= render :partial => 'spree/shared/header' %>
</header><!--/header-->

<div class="container">
  <div id="wrapper" class="row" data-hook>
    <%= taxon_breadcrumbs(@taxon) %>
    <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
    <div id="content" data-hook>
      <%= flash_messages %>
      <%= yield %>
    </div>
    <%= yield :templates %>
  </div>
</div>

<footer id="footer"><!--Footer-->
  <%= render :partial => 'spree/shared/footer' %>
</footer><!--/Footer-->

<%= render :partial => 'spree/shared/google_analytics' %>
