<%= render partial: 'spree/shared/error_messages', locals: { target: @spree_user } %>

<div class="col-sm-6 col-sm-offset-3">
  <div class="popin_co">
    <div id="forgot-password" class="panel panel-default">
      <div class="panel-heading">
        <h4><%= Spree.t(:forgot_password) %></h4>
      </div>
      <div class="panel-body">
        <div class"form-group">
          <%= Spree.t(:instructions_to_reset_password) %>
        </div>
        <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path do |f| %>
          <div class"form-group">
            <%= f.label :email, Spree.t(:email) %>
            <%= f.email_field :email, class: 'title form-control'%>
          </div>
          <br>
          <div class"actions">
            <%= f.submit Spree.t(:reset_password), class: 'btn btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
