<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.price_for(current_pricing_options) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <%= !@product.has_variants? ? 'alpha' : 'omega' %>">

        <div id="product-price" class=col-md-2>
            <span itemprop="price">
              <span>
              <%= display_price(@product) %>
              <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
            </span>
          </span>

          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="http://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock list-group-item-danger"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>

          <%= button_tag class: 'btn btn-default cart', id: 'add-to-cart-button', type: :submit do %>
            <i class="fa fa-shopping-cart"></i>
            <%= number_field_tag :quantity, 1, style: "display:none", min: 1 %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>

      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>

    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-variants" class="panel panel-default">
        <div class="panel-heading">
          <h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
        </div>
        <div class="panel-body list-group">
          <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
            <div class="list-group-item">
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for(current_pricing_options)  %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </div>
          <% end%>
        </div>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>
  </div>

<% end %>
