<% unless @product_properties.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="product-section-title"><%= Spree.t('properties')%></h6>
    </div>
      <div id="product-properties" class="list-group panel-body" data-hook>
          <% @product_properties.each do |product_property| %>
            <% css_class = cycle('even', 'odd', name: "properties") %>
            <div class="<%= css_class %> list-group-item">

              <strong><%= product_property.property.presentation %></strong>
              <span class="badge"><%= product_property.value %></span>
            </div>
          <% end %>
          <% reset_cycle('properties') %>
      </div>
  </div>
<% end %>
