<% if !@product.taxons.blank? %>
  <div class="panel panel-default" id="taxon-crumbs" data-hook class="alpha columns five omega">
    <div class="panel-heading">
      <h6 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h6>
    </div>
    <div class="panel-body list-group" data-hook="product_taxons">
      <div id="similar_items_by_taxon" data-hook>
      <% @product.taxons.each do |taxon| %>
        <div class="list-group-item"><%= link_to taxon.name, seo_url(taxon) %></div>
      <% end %>
    </div>
    </div>

  </div>
<% end %>
