<%# no need for thumbnails unless there is more than one image %>
<% if (@product.images + @product.variant_images).uniq.size > 1 %>
<div  id="product-thumbnails" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" data-hook>
    <% item = 0 %>
    <% first = true %>
    <% @product.images.each do |i| %>
        <% if item == 0 %>
          <div class= "item <%= first == true ? "active" : ""%>">
            <% first = false %>
        <% end %>
        <%= link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:product)) %>
      <% if item == 2 %>
        </div>
        <% item = 0 %>
      <% else %>
        <% item = item + 1 %>
      <% end %>
    <% end %>

    <% if @product.has_variants? %>
      <% @product.variant_images.each do |i| %>
        <% next if @product.images.include?(i) %>
            <% if first == true %>
              <% first = false %>
              <div class="item active">
            <% else %>
              <div class="item">
            <% end %>
          <%= link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:product)) %>
          <% if item == 2 %>
            </div>
            <% item = 0 %>
          <% else %>
            <% item = item + 1 %>
          <% end %>
      <% end %>
    <% end %>
    <% if item != 0 %>
    </div>
    <% end %>
  </div>
  <a class="left item-control" href="#product-thumbnails" data-slide="prev">
  <i class="fa fa-angle-left"></i>
    </a>
  <a class="right item-control" href="#product-thumbnails" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
</div>
<% end %>

<!--
<div id="similar-product" class="carousel slide" data-ride="carousel">

       <div class="carousel-inner">

        <div class="item active">
          <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
          <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
          <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
        </div>
        <div class="item">
          <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
          <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
          <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
        </div>
        <div class="item">
          <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
          <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
          <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
        </div>

    </div>

    < Controls
    <a class="left item-control" href="#similar-product" data-slide="prev">
    <i class="fa fa-angle-left"></i>
    </a>
    <a class="right item-control" href="#similar-product" data-slide="next">
    <i class="fa fa-angle-right"></i>
    </a>
</div>-->
