
<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div class="panel" data-hook="product_show" itemscope itemtype="http://schema.org/Product">

    <% @body_id = 'product-details' %>

    <div class="panel">
        <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
    </div>

    <div class="row" >
      <div class="col-md-5" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div class="view-product" id="main-image" data-hook>
              <%= render partial: 'image' %>
            </div>
              <%= render partial: 'thumbnails' %>
          </div>
        </div>
      </div>
      <div  class="col-md-7" data-hook="product_right_part">
        <div class="panel panel-default" data-hook="product_right_part_wrap">
          <div class="panel-body">
            <div id="product-description" data-hook="product_description">
              <div class="panel panel-default" data-hook="description">
                <div class="panel-body">
                  <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
                </div>
              </div>
              <div id="cart-form" data-hook="cart_form">
               <%= render partial: 'cart_form' %>
              </div>
              <div class="list-group" data-hook="product_properties">
                <%= render partial: 'properties' %>
              </div>
               <div data-hook="promotions">
                 <%= render partial: 'promotions' %>
              </div>
              <div>
                <%= render partial: 'taxons' %>
              </div>
             </div>
           </div>
         </div>
       </div>
      </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
