<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div class="popin_co">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="existing-customer" class="panel panel-default">
      <div class="panel-heading">
        <h3><%= Spree.t(:login_as_existing) %></h3>
      </div>
      <div data-hook="login" class="panel-body">
        <%= render partial: 'spree/shared/login' %>
        <hr>
        <%= link_to Spree.t(:create_a_new_account),
        spree.signup_path %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
      </div>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>
