
<% @body_id = 'signup' %>

<%= render 'spree/shared/error_messages', target: resource %>

<div class="col-sm-6 col-sm-offset-3">
  <div id="new-customer" class="panel panel-default">
    <div class="panel-heading">
       <h4><%= Spree.t(:new_customer) %></h4>
     </div>
    <div data-hook="signup" class="panel-body">
      <%= form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f| %>
        <div data-hook="signup_inside_form">
          <%= render partial: 'spree/shared/user_form', locals: { f: f } %>
        </br>
          <div class"actions">
            <%= f.submit Spree.t(:create), class: 'btn btn-block' %>
          </div>
        </div>
      <% end %>
      <hr>
      <%= link_to Spree.t(:login_as_existing), spree.login_path %>
    </div>
  </div>
</div>
<div data-hook="login_extras"></div>
